\.idea/

*.iml
**/target/
/target/
*/target/*
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
*.class

\.gradle/4\.10\.2/fileHashes/

out/production/classes/META-INF/pcd-assignments\.main\.kotlin_module

out/production/resources/application\.conf
